@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tailwind is pushing the default line-height too much */
html {
  line-height: 1.25;
}

@layer components {
  .base_action {
    @apply cursor-pointer
    rounded-md
    focus:outline-none
    focus:ring-2
    focus:ring-primary
    focus:ring-offset-2
    focus:ring-offset-transparent;
  }
  .action {
    @apply base_action 
    hover:underline;
  }
  .base_button {
    @apply py-2
    px-4
    sm:py-3 
    sm:px-6;
  }
  .btn {
    @apply action 
    base_button;
  }
  .btn-primary {
    @apply base_action
    base_button
    relative
    bg-primary 
    text-white;
  }
  .btn-secondary {
    @apply base_action
    base_button
    relative
    bg-secondary 
    text-black-default;
  }
  .btn-primary:before {
    @apply transition-opacity
    rounded-md
    duration-200
    absolute
    inset-0
    opacity-0
    bg-white;
    content: '';
  }
  .btn-primary:hover::before {
    opacity: 0.1;
  }
  .btn-primary:active::before {
    opacity: 0.2;
  }
  .scrollable-horizontal {
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
  }
  .scrollable-horizontal > * {
    flex-shrink: 0;
    flex-grow: 0;
  }
  .scrollable-horizontal::-webkit-scrollbar {
    display: none;
  }
  .gradient:before {
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    z-index: -1;
    background: linear-gradient(
        var(--gradient-direction, 180deg),
        #F3F4F6 20%,
        rgba(255, 255, 255, 0) 150%
      ),
      linear-gradient(to right, #00c3ff, #ffff1c);
  }
}
