@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .action {
    @apply font-semibold 
    hover:underline 
    cursor-pointer
    focus:outline-none;
  }
  .btn {
    @apply action 
    py-3 
    px-6 
    rounded-md;
  }
  .btn-primary {
    @apply btn
    bg-primary 
    text-white
    shadow-xs 
    focus:ring-primary
    focus:ring-2
    focus:ring-opacity-75;
  }
}
