#testimonial-wrapper {
  position: relative;
  max-width: 100%;
  height: max-content;
  overflow: visible;
}

#testimonial-container {
  scrollbar-width: none;
}

#testimonial-container::-webkit-scrollbar {
  display: none;
}

#testimonial-left-paddle,
#testimonial-right-paddle {
  position: absolute;
  width: 60px;
  height: 60px;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  background-color: rgba(21, 21, 21, 0.8);
  border-radius: 100%;
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  padding-left: 0.65rem;
  padding-top: 0.65rem;
  @media (min-width: 1024px) {
    width: 90px;
    height: 90px;
    padding-left: 0.8rem;
    padding-top: 0.8rem;
  }
}

#testimonial-left-paddle:focus,
#testimonial-right-paddle:focus {
  border: 1px solid white;
  outline: none;
}

#testimonial-left-paddle:hover,
#testimonial-right-paddle:hover,
#testimonial-left-paddle:focus,
#testimonial-right-paddle:focus {
  transform: translateY(calc(-50% - 4px));
}

#testimonial-left-paddle {
  left: 15px;
}

#testimonial-right-paddle {
  right: 15px;
}

@media (min-width: 1024px) {
  .negative-top-margin {
    margin-top: -15rem;
  }
}
